<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Create Application Variable</h4>
    <p class="text-muted modal-title"><small>Add a new Application Variable definition for the selected component.</small></p>
</div>

<div class="modal-body">
    <form name="addAppVarForm" class="form-horizontal" role="form" novalidate>
        <ng-form name="formAppVarName">
            <div class="form-group"
                 ng-class="{'has-error': !formAppVarName.$valid}">
                <label for="appVarName" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="variable.name"  ng-required="true" class="form-control" id="appVarName" autofocus="true">
                </div>
            </div>
        </ng-form>

        <ng-form name="formAppVarType">
            <div class="form-group"
                 ng-class="{'has-error': !formAppVarType.$valid}">
                <label for="appVarType" class="col-sm-3 control-label">Type</label>
                <div class="col-sm-6">
                    <select class="form-control"
                            id="appVarType"
                            ng-model="variable.type"
                            ng-required="true">
                        <option value="STRING">String</option>
                        <option value="NUMBER">Number</option>
                        <option value="BOOLEAN">Boolean</option>
                        <option value="PASSWORD">Password</option>
                    </select>
                </div>
            </div>
        </ng-form>

        <ng-form name="formAppVarValue">
            <div class="form-group">
                <label for="appVarValue" class="col-sm-3 control-label">Value</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="variable.value" class="form-control" id="appVarValue">
                </div>
            </div>
        </ng-form>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-disabled="!addAppVarForm.$valid" ng-click="ok()"><i class="icon-edit icon-white"></i> Save</button>
</div>