<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <div ng-if="name">
        <h4 class="modal-title">{{name}} - Application Configuration</h4>
        <p class="text-muted modal-title"><small>View or modify properties in the selected Application Configuration.</small></p>
    </div>
    <div ng-if="!name">
        <h4 class="modal-title">Add new Application Configuration</h4>
        <p class="text-muted modal-title"><small>Add a new Application Configuration definition for the selected component.</small></p>
    </div>
</div>

<div class="modal-body">
    <div class="form">
        <!-- autocomplete="off" will turn off autocomplete for the form in most browsers -->
        <form name="myForm" class="form-horizontal" action="#" role="form" novalidate autocomplete="off">
          <!--  fake fields are a workaround for chrome/opera autofill getting the wrong fields -->
          <input id="inputusername" style="display:none" type="text" name="fakeusernameremembered">
          <input id="inputpassword" style="display:none" type="password" name="fakepasswordremembered">
            <div class="form-body">
                <fieldset ng-repeat="group in applicationConfiguration.form_groups">
                    <h4 class="form-section">{{group.group_title}} <small>{{group.group_description}}</small></h4>
                    <div ng-repeat="field in group.form_fields">
                        <field-directive field="field" />
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer fluid">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-disabled="!myForm.$valid" ng-click="ok()"><i class="icon-edit icon-white"></i> Save</button>
</div>
