<div class="btn-group">
	<button class="btn btn-primary btn-sm" ng-class="{ disabled: item.state == 'STARTED'}" action="start()">Start</button>
	<button class="btn btn-primary btn-sm" ng-class="{ disabled: item.state == 'STOPPED' || item.state == 'SHUTDOWN' }" action="stop()">Stop</button>
	<button class="btn btn-primary btn-sm" ng-class="{ disabled: item.state == 'STOPPED' || item.state == 'SHUTDOWN'}" action="shutdown()">Shutdown</button>
</div>