<ng-form name="form{{field.field_name}}">
    <div class="form-group"
         ng-class="{'has-error': !form{{field.field_name}}.$valid}">
        <label for="{{field.field_name}}" class="col-sm-4 control-label">{{field.field_title}}</label>
        <div class="col-sm-6" tooltip-placement="right" tooltip="{{field.field_description}}">
            <!-- autocomplete="new-password" will turn it off for passwords everywhere -->
            <input type="password" id="{{field.field_name}}" ng-model="field.field_value" value="{{field.field_value}}" ng-required="field.field_required" class="form-control" autocomplete="new-password">
            <!--<span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>-->
        </div>
    </div>
</ng-form>
