<ng-form name="form{{field.field_name}}">
    <div class="form-group"
         ng-class="{'has-error': !form{{field.field_name}}.$valid}">
        <label for="{{field.field_name}}" class="col-sm-4 control-label">{{field.field_title}}</label>
        <div class="col-sm-6" tooltip-placement="right" tooltip="{{field.field_description}}">

            <!-- autocomplete="nope" turns off autocomplete on many other browsers that don't respect the form's "off", but not for "password" inputs. -->
            <input type="text" id="{{field.field_name}}" ng-model="field.field_value" value="{{field.field_value}}" ng-required="field.field_required" ng-disabled="field.field_disabled" class="form-control" autocomplete="nope">
            <!--<span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>-->
        </div>
    </div>
</ng-form>
