<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Dashboard</a></li>
            <li class="active"><i class="fa fa-bug"></i> Notifications</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Notifications <small>List of notifications during the current session</small></h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <header>
                <h4>
                    <i class="fa fa-bug"></i>
                    Notifications &nbsp; <span class="badge badge-info">{{alerts.list.length}}</span>
                </h4>
                <div class="actions hidden-xs-portrait">
                    <input id="search" type="search" placeholder="Enter text" ng-model="query" class="hidden-xs">
                </div>
            </header>
            <div class="body">
                <div class="ng-cloak" ng-show="alerts.list.length > 0">
                     <table class="table table-condensed table-striped table-responsive table-hover">
                        <thead>
                          <tr>
                            <th><a href="" ng-click="predicate = 'timestamp'; reverse=!reverse">Timestamp</a></th>
                            <th><a href="" ng-click="predicate = 'type'; reverse=!reverse">Type</a></th>
                            <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Status</a></th>
                            <th><a href="" ng-click="predicate = 'text'; reverse=!reverse">Message</a></th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="notification in alerts.list | filter:query | orderBy:predicate:reverse">
                              <td>{{notification.timestamp}}</td>
                              <td>{{notification.type}}</td>
                              <td>{{notification.title}}</td>
                              <td>{{notification.text}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>