<div class="row">
    <div class="col-md-12">
        <h4>Shared Library General Properties</h4>
        <p class="text-muted"><small>View the details for this JBI Shared Library.</small></p>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <blockquote>
            <p>Description</p>
        </blockquote>

        <address>
            <div class="row">
                <div class="col-md-2"><strong>Name:</strong></div>
                <div class="col-md-5">{{library.name}}</div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Description:</strong></div>
                <div class="col-md-5">{{library.description}}</div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Version:</strong></div>
                <div class="col-md-5">{{library.version}}</div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Build Number:</strong></div>
                <div class="col-md-5">{{library.buildNumber}}</div>
            </div>
        </address>
    </div>
</div>