<div class="row">
    <div class="col-md-12">
        <ul class="page-breadcrumb breadcrumb">
            <li><a href="#/"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><a href="#/libraries"><i class="fa fa-book"></i> Shared Libraries</a></li>
            <li class="active">{{library.name}}</li>
        </ul>

        <h3 class="page-title">
            {{library.name}}
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="note note-danger" data-ng-show="error">
            <h4 class="block">Unable to retrieve information for shared library <strong>{{library.name}}</strong></h4>
            <p>{{error}}</p>
        </div>

        <div class="tabbable-custom" data-ng-show="!error">
            <ul class="nav nav-tabs">
                <li ng-class="getTabClass('general')"><a href="#/libraries/{{library.name}}/general">General</a></li>
                <li ng-class="getTabClass('descriptor')"><a href="#/libraries/{{library.name}}/descriptor">Descriptor</a></li>
                <li ng-class="getTabClass('components')"><a href="#/libraries/{{library.name}}/components">Components</a></li>
            </ul>

            <div class="body tab-content" data-ui-view />
        </div>
    </div>
</div>
</div>
