<div class="row">
    <div class="col-md-12">
        <h4>Manage Instance Loggers</h4>
        <p class="text-muted"><small>Manage JBI Instance Loggers. Specify log levels for the individual loggers.</p>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-responsive table-hover">
            <thead>
            <tr title="click to order">
                <th ng-click="predicate = 'name'; reverse=!reverse">Name</th>
                <th>Level</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="logger in loggers | filter:filter | orderBy:predicate:reverse">
                <td><small>{{logger.name}}</small></td>
                <td>
                    <button ng-click="changeLevel(logger.name, 'ALL')" ng-class="(logger.level=='ALL') ? 'btn-danger' : 'btn-default'" class="btn btn-default btn-xs">ALL</button>
                    <button ng-click="changeLevel(logger.name, 'FINEST')" ng-class="(logger.level=='FINEST') ? 'btn-danger' : 'btn-default'" class="btn btn-default btn-xs">FINEST</button>
                    <button ng-click="changeLevel(logger.name, 'FINER')" ng-class="(logger.level=='FINER') ? 'btn-danger' : 'btn-default'" class="btn btn-default btn-xs">FINER</button>
                    <button ng-click="changeLevel(logger.name, 'FINE')" ng-class="(logger.level=='FINE') ? 'btn-warning' : 'btn-default'" class="btn btn-default btn-xs">FINE</button>
                    <button ng-click="changeLevel(logger.name, 'CONFIG')" ng-class="(logger.level=='CONFIG') ? 'btn-warning' : 'btn-default'" class="btn btn-default btn-xs">CONFIG</button>
                    <button ng-click="changeLevel(logger.name, 'INFO')" ng-class="(logger.level=='INFO') ? 'btn-info' : 'btn-default'" class="btn btn-default btn-xs">INFO</button>
                    <button ng-click="changeLevel(logger.name, 'WARNING')" ng-class="(logger.level=='WARNING') ? 'btn-success' : 'btn-default'" class="btn btn-default btn-xs">WARNING</button>
                    <button ng-click="changeLevel(logger.name, 'SEVERE')" ng-class="(logger.level=='SEVERE') ? 'btn-success' : 'btn-default'" class="btn btn-default btn-xs">SEVERE</button>
                    <button ng-click="changeLevel(logger.name, 'OFF')" ng-class="(logger.level=='OFF') ? 'btn-primary' : 'btn-default'" class="btn btn-default btn-xs">OFF</button>
                    -
                    <button ng-click="changeLevel(logger.name, 'DEFAULT')" ng-class="(logger.level=='DEFAULT') ? 'btn-primary' : 'btn-default'" class="btn btn-default btn-xs">DEFAULT</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>