<div class="row margin-bottom-20">
    <div class="col-md-12">
        <h3 class="page-title">OpenESB Web Console</h3>
    </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="portlet box red-sunglo">
      <div class="portlet-title">
        <div class="caption">OpenESB Runtime</div>
      </div>
      <div class="portlet-body">
        <div class="body">
          <ul class="server-stats">
            <li>
              <strong>Instance:</strong> {{informations.instanceName}}
            </li>
            <li>
              <strong>Version:</strong> OpenESB Core {{informations.majorVersion}}.{{informations.minorVersion}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="portlet box blue-chambray">
      <div class="portlet-title">
        <div class="caption">Java Virtual Machine</div>
      </div>
      <div class="portlet-body">
        <div class="body">
          <ul class="server-stats">
            <li>
              <strong>PID:</strong> {{jvm['name']}}
            </li>
            <li>
              <strong>Host:</strong> localhost
            </li>
            <li>
              <strong>JVM:</strong> {{jvm['vm.name']}} ({{jvm['vm.version']}})
            </li>
            <li>
              <strong>Java:</strong> version {{jvm['system.properties']['java.version']}}, vendor {{jvm['system.properties']['java.vm.vendor']}}
            </li>
            <li>
              <strong>Java Home:</strong> {{jvm['system.properties']['java.home']}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="portlet box grey-cascade">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-list"></i>Service Assemblies
        </div>
      </div>
      <div class="portlet-body">
        <div class="body">
          <table class="ng-cloak table table-condensed table-striped table-responsive table-hover">
            <tbody>
            <tr ng-repeat="assembly in assemblies">
              <td><a href="#/assemblies/{{assembly.name}}">{{assembly.name}}</a></td>
              <td><jbi-state state="assembly.state"></jbi-state></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="portlet box blue-hoki">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-cogs"></i>Components
        </div>
      </div>
      <div class="portlet-body">
        <div class="body">
          <table class="ng-cloak table table-condensed table-striped table-responsive table-hover">
            <tbody>
            <tr ng-repeat="component in components">
              <td>
                <a href="#/components/{{component.name}}" class="btn-sm dark" tooltip-placement="right" tooltip="{{component.description}}">
                  <i data-ng-if="component.type === 'SERVICE_ENGINE'" class="fa fa-cog"></i>
                  <i data-ng-if="component.type === 'BINDING_COMPONENT'" class="fa fa-puzzle-piece"></i>
                  {{component.name}}
                </a>
              </td>
              <td><jbi-state state="component.state"></jbi-state></td>
              <td>{{component.version}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="portlet box green-seagreen">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-book"></i>
          Shared Libraries
        </div>
      </div>
      <div class="portlet-body">
        <div class="body">
          <table class="ng-cloak table table-condensed table-striped table-responsive table-hover">
            <tbody>
            <tr ng-repeat="library in libraries | filter:query | orderBy:predicate:reverse">
              <td><a href="#/libraries/{{library.name}}" class="btn-sm dark" tooltip-placement="right" tooltip="{{library.description}}">{{library.name}}</a></td>
              <td>{{library.version}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="portlet box blue-chambray">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-caret-right"></i>
          Memory
        </div>
      </div>
      <div class="portlet-body">
        <div class="body">
          <div class="key pull-right">Total Memory</div>
          <div class="stat">
            <div class="info">{{memory['total.used'].value * 100 / memory['total.max'].value | number:0}}% ({{memory['total.used'].value / 1000000 | number:0}}M / {{memory['total.max'].value / 1000000 | number:0}}M)</div>

            <div class="progress progress-striped active">
              <div class="progress-bar progress-bar" role="progressbar"
                   aria-valuenow="{{memory['total.used'].value / 1000000 | number:0}}"
                   aria-valuemin="0"
                   aria-valuemax="{{memory['total.max'].value / 1000000 | number:0}}"
                   style="width: {{memory['total.used'].value * 100 / memory['total.max'].value  | number:0}}%">
              </div>
            </div>
          </div>

          <div class="key pull-right">Heap Memory</div>
          <div class="stat">
            <div class="info">{{(memory['heap.usage'].value * 100 | number:0)}}% ({{memory['heap.used'].value / 1000000 | number:0}}M / {{memory['heap.max'].value / 1000000 | number:0}}M)</div>
            <div class="progress progress-striped active">
              <div class="progress-bar progress-bar-success" role="progressbar"
                   aria-valuenow="{{memory['heap.used'].value / 1000000 | number:0}}"
                   aria-valuemin="0"
                   aria-valuemax="{{memory['heap.max'].value / 1000000 | number:0}}"
                   style="width: {{memory['heap.usage'].value * 100 | number:0}}%">
              </div>
            </div>
          </div>

          <div class="key pull-right">Non-Heap Memory</div>
          <div class="stat" ng-show="jvm['system.properties']['java.version'].indexOf('1.8') == -1">
            <div class="info">{{(memory['non-heap.usage'].value * 100 | number:0)}}% ({{memory['non-heap.used'].value / 1000000 | number:0}}M / {{memory['non-heap.max'].value / 1000000 | number:0}}M)</div>
            <div class="progress progress-striped active">
              <div class="progress-bar progress-bar-success" role="progressbar"
                   aria-valuenow="{{memory['non-heap.used'].value / 1000000 | number:0}}"
                   aria-valuemin="0"
                   aria-valuemax="{{memory['non-heap.max'].value / 1000000 | number:0}}"
                   ng-style="{width: (memory['non-heap.usage'].value * 100 | number:0) + '%'}">
              </div>
            </div>
          </div>

          <div class="stat" ng-show="jvm['system.properties']['java.version'].indexOf('1.8') != -1">
            <div class="info">{{(memory['non-heap.used'].value * 100 / memory['non-heap.committed'].value | number:0)}}% ({{memory['non-heap.used'].value / 1000000 | number:0}}M / {{memory['non-heap.committed'].value / 1000000 | number:0}}M)</div>
            <div class="progress progress-striped active">
              <div class="progress-bar progress-bar-success" role="progressbar"
                   aria-valuenow="{{memory['non-heap.used'].value / 1000000 | number:0}}"
                   aria-valuemin="0"
                   aria-valuemax="{{memory['non-heap.committed'].value / 1000000 | number:0}}"
                   ng-style="{width: (memory['non-heap.committed'].value / 1000000 | number:0) + '%'}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="portlet box blue-chambray">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-caret-right"></i>
          Threads (Total: {{thread['count'].value}})
        </div>
      </div>
      <div class="portlet-body">
        <div class="body">
          <p>Runnable ({{thread['runnable.count'].value}})</p>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-success" role="progressbar"
                 aria-valuenow="{{thread['runnable.count'].value}}"
                 aria-valuemin="0"
                 aria-valuemax="{{thread['count'].value}}"
                 style="width: {{thread['runnable.count'].value * 100 / thread['count'].value | number:0}}%">
              {{thread['runnable.count'].value * 100 / thread['count'].value | number:0}}%
            </div>
          </div>
          <p>Timed waiting ({{thread['timed_waiting.count'].value}})</p>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-warning" role="progressbar"
                 aria-valuenow="{{thread['timed_waiting.count'].value}}"
                 aria-valuemin="0"
                 aria-valuemax="{{thread['count'].value}}"
                 style="width: {{thread['timed_waiting.count'].value * 100 / thread['count'].value | number:0}}%">
              {{thread['timed_waiting.count'].value * 100 / thread['count'].value | number:0}}%
            </div>
          </div>
          <p>Waiting ({{thread['waiting.count'].value}})</p>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-warning" role="progressbar"
                 aria-valuenow="{{thread['waiting.count'].value}}"
                 aria-valuemin="0"
                 aria-valuemax="{{thread['count'].value}}"
                 style="width: {{thread['waiting.count'].value * 100 / thread['count'].value | number:0}}%">
              {{thread['waiting.count'].value * 100 / thread['count'].value | number:0}}%
            </div>
          </div>
          <p>Blocked  ({{thread['blocked.count'].value}})</p>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-danger" role="progressbar"
                 aria-valuenow="{{thread['blocked.count'].value}}"
                 aria-valuemin="0"
                 aria-valuemax="{{thread['count'].value}}"
                 style="width: {{thread['blocked.count'].value * 100 / thread['count'].value | number:0}}%">
              {{thread['blocked.count'].value * 100 / thread['count'].value | number:0}}%
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>

    <div class="col-md-4">
      <div class="portlet box blue-chambray">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-caret-right"></i>
            Garbage collections
          </div>
        </div>
        <div class="portlet-body">
          <div class="body">
            <div class="row">
              <div class="col-md-9" translate="metrics.jvm.gc.marksweepcount">Mark Sweep count</div>
              <div class="col-md-3">{{gc['PS-MarkSweep.count'].value}}</div>
            </div>
            <div class="row">
              <div class="col-md-9" translate="metrics.jvm.gc.marksweeptime">Mark Sweep time</div>
              <div class="col-md-3">{{gc['PS-MarkSweep.time'].value}}ms</div>
            </div>
            <div class="row">
              <div class="col-md-9" translate="metrics.jvm.gc.scavengecount">Scavenge count</div>
              <div class="col-md-3">{{gc['PS-Scavenge.count'].value}}</div>
            </div>
            <div class="row">
              <div class="col-md-9" translate="metrics.jvm.gc.scavengetime">Scavenge time</div>
              <div class="col-md-3">{{gc['PS-Scavenge.time'].value}}ms</div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
