<div class="row">
    <div class="col-md-12">
        <ul class="page-breadcrumb breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Dashboard</a></li>
            <li data-ng-if="component.type === 'assemblies'"><a href="#/{{component.type}}"><i class="fa fa-list"></i> Service Assemblies</a></li>
            <li data-ng-if="component.type === 'components'"><a href="#/{{component.type}}"><i class="fa fa-cogs"></i> Components</a></li>
            <li><a href="#/{{component.type}}/{{component.name}}"> {{component.name}}</a></li>
            <li class="active">{{serviceunit.name}}</li>
        </ul>

        <h3 class="page-title">{{serviceunit.name}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tabbable-custom" data-ng-show="!error">
            <ul class="nav nav-tabs">
                <li ng-class="getTabClass('general')"><a href="#/{{component.type}}/{{component.name}}/units/{{serviceunit.name}}/general">General</a></li>
                <li ng-class="getTabClass('descriptor')"><a href="#/{{component.type}}/{{component.name}}/units/{{serviceunit.name}}/descriptor">Descriptor</a></li>
                <!--
                <li ng-class="getTabClass('monitoring')"><a href="#/{{component.type}}/{{component.name}}/units/{{serviceunit.name}}/monitoring">Monitoring</a></li>
                -->
            </ul>
            <div class="body tab-content" data-ui-view />
        </div>
    </div>
</div>